@charset "utf-8";


 .header{
    background:green;
    max-width: 960px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    
    
     }


 .h1{
   padding: 0;
   justify-content:center;

 }    



 .container{
   list-style: none;
   margin:0 auto;
   padding: 0;
   display:flex;
   gap:30;
   justify-content: center;
   max-width: 960px;
   


 }
.box{
   width: 960px;
   margin: 1200px;
   background-color: #eeeeee;

}